movies#index
- @movies.each do |movie|
  .test
    タイトル
    = link_to movie_path(movie.id) do
      = movie.title
    = image_tag movie.image.url, class: 'Message__image' if movie.image.present?
  .test
    投稿日
    = movie.created_at.strftime("%Y年%m月%d日")
.return
  =link_to root_path do
    topReturn

  = link_to new_movie_path do
    movie追加