.userShow
  .userShow__account
    .userShow__account__name
      = current_user.name
    .userShow__account__image
      = image_tag src= "#{current_user.image}"


  .userShow__updateForm
    = form_for(current_user) do |f|
      .updateFormIn
        .updateFormIn__Field
          = f.label :name
        .updateFormIn__input
          = f.text_field :name, autofocus: true
      .updateFormIn
        .updateFormIn__Field
          = f.label :email
        .updateFormIn__input
          = f.email_field :email
        .updateFormIn__Field
          = f.label :image
        .updateFormIn__input
          = f.file_field :image
      = f.submit "Update", class: 'UpdateButton'
  %a.returnTop(href="/")
    TOPへ戻る